{{define "footer"}}
<table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Arial,sans-serif;">
    <tr>
      <td style="padding:0;width:50%;" align="left">
        <p style="margin:0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#ffffff;">
          {{.Footer}}<br/><a href="https://github.com/jramsgz/ArticPad" style="color:#ffffff;text-decoration:underline;">Github</a>
        </p>
      </td>
    </tr>
</table>
{{end}}
